{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Viestiseinä</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>

	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
			<a class="navbar-brand" href="#">Viestiseinä</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('posts_index') }} ">Viestit</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('hashtags_index') }} ">Hashtagit</a>
					</li>
				</ul>
				<div class="form-inline mt-2 mt-md-0">
					{% if current_user.is_authenticated %}
					<span class="navbar-text mr-2">Kirjautuneena: <a href="{{ url_for('user_view', user_id = current_user.id) }}"><b>{{ current_user.name }}</b></a></span>
					<form action="{{ url_for('auth_logout') }}">
						<input class="btn btn-primary mr-1" type="submit" value="Kirjaudu ulos" />
					</form>
					{% else %}
					<form action="{{ url_for('auth_login') }}">
						<input class="btn btn-primary mr-1" type="submit" value="Kirjaudu sisään" />
					</form>			
					<form action="{{ url_for('auth_register') }}">
						<input class="btn btn-secondary" type="submit" value="Rekisteröidy" />
					</form>					
					{% endif %}
				</div>
			</div>
		</nav>

		
		<main role="main" class="container">
			{% block body %}
			<p>
				content
			</p>
			{% endblock %}
		</main>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
	</body>
</html>
