{% extends "layout.html" %}

{% block body %}
	{% if hashtags %}
	<p>Päivän suosituimmat hashtagit:</p>
	<ul class="list-inline ml-2">
		{% for hashtag in hashtags %}
		<li class="list-inline-item"><b><a href="{{ url_for('hashtag_view', hashtag_id = hashtag.id) }}">{{ hashtag.name }}</a></b></li>
		{% endfor %}
	</ul>
	<hr class="mt-2 mb-4">
	{% endif %}
	{% if current_user.is_authenticated %}
	<div>
		<p>
			{% if show %}
			<button class="btn btn-primary" type="button" data-toggle="collapse show" data-target="#send-message" aria-expanded="false" aria-controls="send-message">
			{% else %}
			<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#send-message" aria-expanded="false" aria-controls="send-message">
			{% endif %}
				Lähetä uusi viesti
	  		</button>
		</p>
		{% if show %}
		<div class="collapse.show" id="send-message">
		{% else %}
		<div class="collapse" id="send-message">
		{% endif %}
	
			<div class="card card-body mb-3">
    				{% include 'posts/new.html' %}
  			</div>
		</div>
	</div>
	{% endif %}
	<ul class="list-unstyled">
		{% for post in posts %}
		<li class="media mb-4">
			<div class="media-body border bg-light p-1">
				{% set show_actions = True %}
				{% include 'posts/post.html' %}
			</div>
		</li>		
		{% endfor %}
	</ul>
{% endblock %}
