{% extends "layout.html" %}

{% block body %}
	{% if current_user.is_authenticated %}
	<div>
		<p>
			{% if show %}
			<button class="btn btn-primary" type="button" data-toggle="collapse show" data-target="#send-message" aria-expanded="false" aria-controls="send-message">
			{% else %}
			<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#send-message" aria-expanded="false" aria-controls="send-message">
			{% endif %}
				Lähetä uusi viesti
	  		</button>
		</p>
		{% if show %}
		<div class="collapse.show" id="send-message">
		{% else %}
		<div class="collapse" id="send-message">
		{% endif %}
	
			<div class="card card-body mb-3">
    				{% include 'posts/new.html' %}
  			</div>
		</div>
	</div>
	{% endif %}
	<ul class="list-unstyled">
		{% for post in posts %}
		<li class="media mb-4">
			<div class="media-body border bg-light p-1">
				{% include 'posts/post.html' %}
				{% if current_user.id == post.user_id %}
				<a href="posts/update/{{ post.id }}">Muokkaa</a> - <a href="posts/delete/{{ post.id }}">Poista</a>
				{% endif %}
			</div>
		</li>		
		{% endfor %}
	</ul>
{% endblock %}
