<div class="border bg-light p-1">
	<h5><a href="{{ url_for('user_view', user_id = post.user_id) }}">{{ post.user.name }}</a></h3>
	<p class="small font-weight-light mb-0">{{ post.create_time|datetime }}{% if post.create_time != post.modify_time %} <mark>Muokattu: {{ post.modify_time|datetime }}</mark>{% endif %}</p>
	<hr class="my-2">
	<p class="my-0">{{ post | hashtagify | safe}}</p>
	{% if current_user.is_authenticated %}
	<hr class="my-2">
	<div class="form-inline">
		<a role="button" class="btn btn-primary btn-sm mr-1" href="{{ url_for('posts_reply_form', post_id = post.id) }}">Vastaa</a>
		{% if current_user.id == post.user_id or current_user.has_role("MODERATOR")  %}
		<a role="button" class="btn btn-secondary btn-sm mr-1" href="{{ url_for('posts_update_form', post_id = post.id, redirect_thread = True) }}">Muokkaa</a>
		<a role="button" class="btn btn-secondary btn-sm mr-1" href="{{ url_for('posts_delete', post_id = post.id, redirect_thread = True) }}">Poista</a>
		{% endif %}
	</div>
	{% endif %}
</div>
