{% extends "layout.html" %}

{% block body %}
	<h1>{{ user.name }} {% if user.has_role("ADMIN") %}<small><span class="badge badge-info badge-pill float-right ml-2 mt-2">Ylläpitäjä</span></small>{% endif %}{% if user.has_role("MODERATOR") %}<small><span class="badge badge-info badge-pill float-right mt-2">Moderaattori</span></small>{% endif %}</h1>
	<ul>
		<li>{{ user.get_post_count() }}	lähetettyä viestiä</li>
	</ul>

	<h2>Viestit</h2>
	<ul class="list-unstyled">
		{% for post in user.posts %}
		<li class="media mb-4">
			<div class="media-body border bg-light p-1">
				{% include 'posts/post.html' %}
			</div>
		</li>		
		{% endfor %}
	</ul>
{% endblock %}
