{% extends "layout.html" %}

{% block body %}
	{% if password_changed %}
	<div class="alert alert-success" role="alert">
		Salasana vaihdettu
	</div>
	{% endif %}

	<h1>{{ user.name }} {% if user.has_role("ADMIN") %}<small><span class="badge badge-info badge-pill float-right ml-2 mt-2">Ylläpitäjä</span></small>{% endif %}{% if user.has_role("MODERATOR") %}<small><span class="badge badge-info badge-pill float-right mt-2">Moderaattori</span></small>{% endif %}</h1>
	<ul>
		<li>{{ user.get_post_count() }}	lähetettyä viestiä</li>
	</ul>
	{% if current_user.id == user.id or (current_user.has_role("ADMIN") and current_user.id != user.id) %}
	<div class="form-inline">
		{% if current_user.id == user.id %}
		<form action="{{ url_for('auth_password_change', user_id = user.id) }}">
			<input class="btn btn-secondary btn-sm mr-1" type="submit" value="Vaihda salasana" />
		</form>
		{% endif %}
		{% if current_user.has_role("ADMIN") and current_user.id != user.id %}
		{% if user.has_role("MODERATOR") %}
		<form action="{{ url_for('remove_mod_role', user_id = user.id) }}">
			<input class="btn btn-secondary btn-sm mr-1" type="submit" value="Poista moderaattorin oikeudet" />
		</form>
		{% else %}			
		<form action="{{ url_for('give_mod_role', user_id = user.id) }}">
			<input class="btn btn-secondary btn-sm mr-1" type="submit" value="Anna moderaattorin oikeudet" />
		</form>
		{% endif %}
		<form action="{{ url_for('remove_user', user_id = user.id) }}">
			<input class="btn btn-secondary btn-sm mr-1" type="submit" value="Poista käyttäjä" />
		</form>
		{% endif %}
	</div>
        {% endif %}
	<hr class="my-2">
	<h2>Viestit</h2>
	<ul class="list-unstyled">
		{% for post in user.posts %}
		<li class="media mb-4">
			<div class="media-body border bg-light p-1">
				{% include 'posts/post.html' %}
			</div>
		</li>		
		{% endfor %}
	</ul>
{% endblock %}
